body {
    margin: 0;
    font-family: Finador;
    background-color: #FAFBFF;
    color: #464646;
}
.container {
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.container h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0;
}
.container p {
    margin-bottom: 50px;
}
.global-btn-b {
    background-color: #2945FF;
    border-radius: 25px;
    padding: 15px 100px;
    border: none;
    font-family: Finador;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#space {
    margin-top: 120px;
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
        margin-left: 5%;
    }
    .container h1 {
        font-size: 40px;
    }
    .global-btn-b {
        padding: 15px 50px;
    }
}