@font-face {
    font-family: Finador;
    src: url("../assets/fonts/Finador-Medium.otf");
    font-weight: medium;
}
@font-face {
    font-family: Finador;
    src: url("../assets/fonts/Finador-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: Finador;
    src: url("../assets/fonts/Finador-Regular.otf");
}
body {
    background-color: #FAFBFF;
    color: #464646;
}
p {
    font-size: 18px;
}
#floating-yellow {
    top: -130px;
    right: -100px;
    height: 980px;
}
.main-container {
    position: relative;
    margin-top: 76px;
}
.main-content {
    z-index: 5;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}
.words {
    color: #464646;
    padding-right: 100px;
    margin-top: 150px;
}
.words h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: -3px;
}
.main-content img {
    flex: 1 1 0;
    margin-right: 130px;
    width: 700px;
    margin-top: 30px;
}
.global-btn-b {
    background-color: #2945FF;
    border-radius: 25px;
    padding: 15px 30px;
    border: none;
    font-family: Finador;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.counter {
    background-color: white;
    border-radius: 20px;
    width: 45%;
    padding: 10px;
    margin-top: 150px;
    position: relative;
    box-shadow: 0px 1px 15px rgba(216, 216, 216, 0.342);
}
.counter h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}
.counter p {
    margin: 0;
    padding: 0;
}
.absoluteimg {
    position: absolute;
    z-index: -1;
}
#yellow-rec-counter {
    width: 240px;
    bottom: -30px;
    left: 200px;
}
#background {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: -100;
}

.sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-top: 90px;
}
.sub img {
    width: 50%;
    border-radius: 20px;
}
.sub-words {
    padding-top: 32px;
    padding: 16px;
}
.sub-words h1 {
    margin: 0;
}
.sub-words p {
    margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
    #background {
        display: none;
    }
    .main-content {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0px;
    }
    .main-container {
        width: 100%;
    }
    .main-content img {
        margin-right: 0;
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }
    .counter {
        margin-top: 50px;
        padding: 5px;
    }
    .counter h1 {
        font-size: 25px !important;
        background-image: none !important;
    }
    .counter p {
        font-size: 16px !important;
    }
    .words h1 {
        font-size: 40px;
        background-image: linear-gradient(rgba(255,255,255,0), #FAFBFF, #FAFBFF, #FAFBFF, #FAFBFF, #FAFBFF, #FAFBFF);
        letter-spacing: -1px;
    }
    #yellow-rec-counter {
        width: 140px;
        bottom: -30px;
        left: 100px;
    }
    .words {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        margin-top: -70px;
        z-index: 5;
        padding: 0;
    }

    .sub {
        flex-direction: column;
        width: 100%;
        margin-top: 90px;
        margin-left: 0;
        margin-right: 0;
    }
    .sub img {
        width: calc(100% - 20px);
        margin-left: 10px;
    }
    .sub-words {
        padding: 10px;
        text-align: center;
    }
}